<!DOCTYPE html>
<html class="no-ox no-oy">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ab-Store - Login</title>
	<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='styles/styles.css')  }}">
	<link rel="icon" type="image/x-icon" href="{{  url_for('static', filename='images/icons/favicon.ico')  }}">
</head>
<body>

	<video class="logreg-video" autoplay muted loop>
		<source src="{{  url_for('static', filename='deps/vid.mp4')  }}" type="video/mp4"></source>
	</video>

	<div class="loginbox">
		<form action="/login/process" method="post" class="login-form">
			<h1>Login</h1>
			{% if message is defined %}
				<div class="message">
					<p>{{  message  }}</p>
				</div>
			{% endif %}
			<input type="text" name="lname" placeholder="Username">
			<input type="password" name="lpass" placeholder="Password">
			<button type="submit">Submit</button><br>
			<p>You don't have an account yet? Register <a href="/register"><span class="gradient-text">here</span></a></p>
		</form>
		<form action="/register/process" method="post" class="reg-form">
			<h1>Register</h1>
			{% if message is defined %}
				<div class="message">
					<p>{{  message  }}</p>
				</div>
			{% endif %}
			<input type="text" name="rname" placeholder="Username">
			<input type="password" name="rpass" placeholder="Password">
			<button type="submit">Submit</button><br>
			<p>Already have an account? Log in <a href="/login"><span class="gradient-text">here</span></a></p>
		</form>
	</div>

	{% if action == "r" %}
		<style type="text/css">
			.login-form{
				display: none;
			}
		</style>
	{% else %}
		<style type="text/css">
			.reg-form{
				display: none;
			}
		</style>
	{% endif %}

</body>
</html>